	* {
	margin:0;
	padding:0;
	}
	
	

	body {
		background:#efefef; 
		position: relative;

	}

	header, .main, footer {
		width:90%;
		max-width:1500px;
		margin:20px auto;
	}

	header nav {
		background:#b80701;  	/*color de barra*/	
		overflow:hidden;
	}

	header nav ul {
		list-style:none;

	}

	header nav ul li {
		float: left;
	}

	header nav ul li a {
		padding:10px 20px;
		display:block;
		color:#ffffff;		/* color de letra de barra */
		text-decoration:none;

	}

	header nav ul li a:hover {
		background:#DE3E48;   /*color del pulsor del menu*/

	}

	u {
		color:#b80701 ;  /*letras subrayadas*/
		
	}

	.main .articles {
		width:68.5%;
		margin-right:1.5%;
		float:left;
	}

	.main .articles article {
		padding:10px;
		background:#ffffff ;	/* COLOR DE FONDO */
		color :#000000;
		margin-bottom:20px;		/*espacio entre el pie  el body*/
	}

	.contenedor-botones {
		width: 100%;
		display: grip;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

	}

	.boton {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60%;
		height: 80px;
		background:#5499C7;											/*color de boton*/
		color: #000000; 											/*color de letra*/
		font-family: 'roboto', sans-serif;
		font-size: 20px;
		font-weight: 500;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		transition: .3s ase all;
		border-radius: 5px; 
		position: relative;
		overflow: hidde;

	}

	.boton span {
		position: relative;
		z-index: 2;
		transition: 3s ease all;

	}

	.boton:hover {
		background: #E5E7E9;										/*color de pulsor*/
	}

	.btn {
		display: inline-block;
		background-color: blueviolet;								/*color de boton*/
		color: #ffffff; 											/*color de la letra*/
		padding: 13px 25px;
		margin: 25px;	

		}

		.btn:hover {
			background-color: #C0392B ;									/*color del pulsor*/
		}										

	aside {
		width:30%;
		background:#D3C6E1;
		float: left;
		padding: 20px;
		box-sizing:border-box;
		margin-block: 20px;
	}

	footer {
		background:#000000;
		color:#fff;
		clear:both;
		padding: 10px 0px;
		text-align:center;
	}
