.bi {
	font-size: 30px !important;
	color: #240DBB;
	margin-left: 20px;
}


 .bit-facebook {
 	color: #blue;
 }

 .facebook {
 	font-family: arial;
 	color: #000000;
 	font-size: 20px;
 }

 .ubicación {
 	font-family: arial;
 	color: #000000;
 	font-size: 20px;
 }

 .teléfono {
 	font-family: arial;
 	color: #000000;
 	font-size: 20px;
 }

 .correo {
 	font-family: arial;
 	color: #000000;
 	font-size: 20px;
 }